<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta
    http-equiv="Content-Security-Policy"
    content="default-src 'none'; connect-src 'self';font-src 'self'; img-src 'self' data: https:; style-src 'self' ; script-src 'self'"
  />
  <title>iCrowdTask</title>
  <link rel="stylesheet" href="/css/styles.css" />
  <script>
    window.addEventListener("beforeunload", (e) => {
      fetch("/session-save", { method: "GET" });
    });
  </script>
</head>
