<!DOCTYPE html>
<html lang="en">
  <%- include("./partials/head.ejs") %>
  <body>
    <div class="forgot-password">
      <div class="form-name">
        <p>Please enter your email to reset your password</p>
      </div>
      <form class="form-body" method="POST" action="/recovery/forgot">
        <% if(message) { %>
        <div class="incorrect">
          <div class="message"><%= message %></div>
          <div class="symbol">
            <svg viewBox="0 0 20 20" fill="currentColor">
              <path
                fill-rule="evenodd"
                d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z"
                clip-rule="evenodd"
              ></path>
            </svg>
          </div>
        </div>
        <% } %>
        <div class="email">
          <label for="email"></label>
          <input type="email" name="email" id="email" required />
        </div>
        <div class="submit">
          <button type="submit">Send email</button>
        </div>
      </form>
      <div class="log-in">
        <a href="/login">Back to Log in</a>
      </div>
    </div>
  </body>
  <script>
    let svg = document.querySelector(".forgot-password svg");
    let incorrectBadge = document.querySelector(".forgot-password .incorrect");

    if (svg && incorrectBadge) {
      svg.addEventListener("click", () => {
        incorrectBadge.remove();
      });
      email.addEventListener("change", () => {
        incorrectBadge.remove();
      });
      password.addEventListener("change", () => {
        incorrectBadge.remove();
      });
    }
  </script>
</html>
