<!DOCTYPE html>
<html lang="en">
  <%- include("./partials/head.ejs") %>
  <body>
    <div class="home">
      <h2>Hi, <%= name %></h2>
      <img src="/img/welcome.svg" alt="welcome" />
      <a href="/logout" class="log-out">Log out</a>
    </div>
  </body>
</html>
