<!DOCTYPE html>
<html lang="en">
  <%- include("./partials/head.ejs") %>
  <body>
    <div class="success">
      <h2>This link expired</h2>
      <img src="/img/invalid.svg" alt="Success" />
      <a href="/login">Come back to Login</a>
    </div>
  </body>
</html>
