<!DOCTYPE html>
<html lang="en">
  <%- include("./partials/head.ejs") %>
  <body>
    <div class="success">
      <h2>You logged in successfully</h2>
      <img src="./img/success.svg" alt="Success" />
    </div>
  </body>
</html>
