<!DOCTYPE html>
<html lang="en">
  <%- include("./partials/head.ejs") %>
  <body>
    <div class="success">
      <h2><%= name %> logged in successfully</h2>
      <img src="/img/success.svg" alt="Success" />
      <a href="/login">Come back to Login Form</a>
    </div>
  </body>
</html>
