.home {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
}
.home h2 {
  color: var(--primary);
}
.home img {
  max-width: 350px;
  margin: 10px;
}
.home .log-out {
  font-weight: 700;
  text-decoration: none;
  background: var(--primary);
  color: white;
  padding: 10px 16px;
  border-radius: 36px;
  letter-spacing: 2px;
  text-transform: uppercase;
}
