.login {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  max-width: 720px;
  margin: 100px auto;
  overflow: hidden;
}
.login .form-body {
  padding: 0 20px;
  min-width: 300px;
}
.login .form-name {
  margin: 20px 0;
  text-align: center;
  color: var(--primary);
}
/* Email */
.login .form-body .email {
  margin-bottom: 15px;
  color: var(--secondary);
  width: 100%;
}
.login .form-body .email label {
  display: block;
}
.login .form-body .email input {
  width: 100%;
  height: 35px;
  color: var(--secondary);
  border: 1px solid rgb(182, 182, 182);
  border-radius: 0.2rem;
  margin-top: 5px;
  outline-color: var(--secondary);
  padding: 5px;
}
/* Password */
.login .form-body .password {
  margin-bottom: 15px;
  color: var(--secondary);
  width: 100%;
}
.login .form-body .password label {
  display: block;
}
.login .form-body .password input {
  width: 100%;
  height: 35px;
  color: var(--secondary);
  border: 1px solid rgb(182, 182, 182);
  border-radius: 0.2rem;
  margin-top: 5px;
  outline-color: var(--secondary);
  padding: 5px;
}
/* Button Submit */
.login .form-body .submit {
  position: relative;
  left: 50%;
  transform: translateX(-65px);
  margin: 10px 0;
}
.login .form-body .submit button {
  margin-top: 20px;
  padding: 5px;
  width: 130px;
  height: 40px;
  background: var(--primary);
  border: none;
  border-radius: 0.3rem;
  color: white;
  font-size: 0.9rem;
}
.login .form-body .submit button:hover {
  background: #d37771;
}

/* Save and Forgot Password */
.login .form-body .password-config {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.login .form-body .password-config .save {
  display: flex;
  align-items: center;
}
.login .form-body .password-config .save label {
  color: var(--secondary);
  font-size: 0.8rem;
  margin-left: 5px;
}
.login .form-body .password-config .forgot a {
  text-decoration: none;
  color: var(--third);
  font-size: 0.9rem;
}

/* Create new account */
.login .sign-up-account a {
  text-decoration: none;
  font-size: 0.8rem;
  color: var(--third);
}

/* incorrect */
.login .incorrect {
  background: var(--fourth);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 6px;
  border-radius: 5px;
  margin-bottom: 10px;
}
.login .incorrect .message {
  color: var(--error);
  font-size: 0.8rem;
}
.login .incorrect svg {
  height: 15px;
  cursor: pointer;
  color: var(--secondary);
}
