/* 
    Registration 
*/
.warning {
  margin: 5px 0;
  color: var(--secondary);
}
.warning-span {
  color: var(--error);
}
.registration {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  max-width: 720px;
  margin: 0 auto;
  overflow: hidden;
}
.registration .form-body {
  padding: 0 20px;
  width: calc(100% * 0.95);
}
.form-name {
  margin: 20px 0;
  text-align: center;
  color: var(--primary);
}
/* Country */
.registration .form-body .country {
  margin-bottom: 15px;
}
.registration .form-body .country label {
  display: block;
  color: var(--secondary);
}
.registration .form-body .country select {
  width: 100%;
  height: 25px;
  text-align-last: center;
  color: var(--secondary);
  border: 1px solid rgb(182, 182, 182);
  border-radius: 0.2rem;
  margin-top: 5px;
  outline-color: var(--secondary);
}
/* Name */
.registration .form-body .name {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-bottom: 15px;
  color: var(--secondary);
  width: 100%;
}
.registration .form-body .name div {
  width: 100%;
}
.registration .form-body .name label {
  display: block;
}
.registration .form-body .name input {
  height: 30px;
  color: var(--secondary);
  border: 1px solid rgb(182, 182, 182);
  border-radius: 0.2rem;
  margin-top: 5px;
  outline-color: var(--secondary);
  padding: 5px;
}
.registration .form-body .name .first-name {
  margin-right: 5px;
}
.registration .form-body .name .last-name {
  margin-left: 5px;
}
.registration .form-body .name #first-name {
  width: 100%;
}
.registration .form-body .name #last-name {
  width: 100%;
}
/* Email */
.registration .form-body .email {
  margin-bottom: 15px;
  color: var(--secondary);
  width: 100%;
}
.registration .form-body .email label {
  display: block;
}
.registration .form-body .email input {
  width: 100%;
  color: var(--secondary);
  border: 1px solid rgb(182, 182, 182);
  border-radius: 0.2rem;
  margin-top: 5px;
  outline-color: var(--secondary);
  padding: 5px;
}
/* Password */
.registration .form-body .password {
  margin-bottom: 15px;
  color: var(--secondary);
  width: 100%;
}
.registration .form-body .password label {
  display: block;
}
.registration .form-body .password input {
  width: 100%;
  color: var(--secondary);
  border: 1px solid rgb(182, 182, 182);
  border-radius: 0.2rem;
  margin-top: 5px;
  outline-color: var(--secondary);
  padding: 5px;
}
/* Re-password */
.registration .form-body .re-password {
  margin-bottom: 15px;
  color: var(--secondary);
  width: 100%;
}
.registration .form-body .re-password label {
  display: block;
}
.registration .form-body .re-password input {
  width: 100%;
  color: var(--secondary);
  border: 1px solid rgb(182, 182, 182);
  border-radius: 0.2rem;
  margin-top: 5px;
  outline-color: var(--secondary);
  padding: 5px;
}
/* Address */
.registration .form-body .address {
  margin-bottom: 15px;
  color: var(--secondary);
  width: 100%;
}
.registration .form-body .address label {
  display: block;
}
.registration .form-body .address input {
  width: 100%;
  color: var(--secondary);
  border: 1px solid rgb(182, 182, 182);
  border-radius: 0.2rem;
  margin-top: 5px;
  outline-color: var(--secondary);
  padding: 5px;
}
/* City */
.registration .form-body .city {
  display: flex;
  align-items: flex-end;
  justify-content: space-around;
  margin-bottom: 15px;
  color: var(--secondary);
  width: 100%;
}
.registration .form-body .city div {
  width: 100%;
}
.registration .form-body .city label {
  display: block;
}
.registration .form-body .city input {
  height: 30px;
  color: var(--secondary);
  border: 1px solid rgb(182, 182, 182);
  border-radius: 0.2rem;
  margin-top: 5px;
  outline-color: var(--secondary);
  padding: 5px;
}
.registration .form-body .city .city-name {
  margin-right: 5px;
}
.registration .form-body .city .state {
  margin-left: 5px;
}
.registration .form-body .city #city {
  width: 100%;
}
.registration .form-body .city #state {
  width: 100%;
}
/* Zip Code */
.registration .form-body .zip-code {
  margin-bottom: 15px;
  color: var(--secondary);
  width: 100%;
}
.registration .form-body .zip-code label {
  display: block;
}
.registration .form-body .zip-code input {
  width: 100%;
  color: var(--secondary);
  border: 1px solid rgb(182, 182, 182);
  border-radius: 0.2rem;
  margin-top: 5px;
  outline-color: var(--secondary);
  padding: 5px;
}
/* Zip Code */
.registration .form-body .phone-number {
  margin-bottom: 15px;
  color: var(--secondary);
  width: 100%;
}
.registration .form-body .phone-number label {
  display: block;
}
.registration .form-body .phone-number input {
  width: 100%;
  color: var(--secondary);
  border: 1px solid rgb(182, 182, 182);
  border-radius: 0.2rem;
  margin-top: 5px;
  outline-color: var(--secondary);
  padding: 5px;
}
/* Button Submit */
.registration .form-body .submit {
  position: relative;
  left: 50%;
  transform: translateX(-65px);
  margin: 10px 0;
}
.registration .form-body .submit button {
  padding: 5px;
  width: 130px;
  height: 40px;
  background: var(--primary);
  border: none;
  border-radius: 0.3rem;
  color: white;
  font-size: 1rem;
}
.form-body .submit button:hover {
  background: #d37771;
}

.registration .login-page {
  margin: 10px 0 50px 0;
}
.registration .login-page a {
  text-decoration: none;
  font-size: 0.9rem;
  color: var(--third);
}

/* incorrect */
.registration .incorrect {
  visibility: hidden;
  background: var(--fourth);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 6px;
  border-radius: 5px;
  margin-bottom: 10px;
}
.registration .incorrect .message {
  color: var(--error);
  font-size: 0.8rem;
}
.registration .incorrect svg {
  height: 15px;
  cursor: pointer;
  color: var(--secondary);
}
