.reset-password {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  max-width: 720px;
  margin: 100px auto;
  overflow: hidden;
}
.reset-password .form-body {
  padding: 0 20px;
  min-width: 300px;
}
.reset-password .form-name {
  margin: 20px 0;
  text-align: center;
  color: var(--primary);
}
/* Email */
.reset-password .form-body .res-password {
  margin-bottom: 15px;
  color: var(--secondary);
  width: 100%;
}
.reset-password .form-body .re-password label {
  display: block;
}
.reset-password .form-body .re-password input {
  width: 100%;
  height: 35px;
  color: var(--secondary);
  border: 1px solid rgb(182, 182, 182);
  border-radius: 0.2rem;
  margin-top: 5px;
  outline-color: var(--secondary);
  padding: 5px;
}
/* Password */
.reset-password .form-body .password {
  margin-bottom: 15px;
  color: var(--secondary);
  width: 100%;
}
.reset-password .form-body .password label {
  display: block;
}
.reset-password .form-body .password input {
  width: 100%;
  height: 35px;
  color: var(--secondary);
  border: 1px solid rgb(182, 182, 182);
  border-radius: 0.2rem;
  margin-top: 5px;
  outline-color: var(--secondary);
  padding: 5px;
}
/* Button Submit */
.reset-password .form-body .submit {
  margin: 10px 0;
}
.reset-password .form-body .submit button {
  margin-top: 20px;
  padding: 5px;
  width: 100%;
  height: 40px;
  background: var(--primary);
  border: none;
  border-radius: 0.3rem;
  color: white;
  font-size: 0.9rem;
}
.reset-password .form-body .submit button:hover {
  background: #d37771;
}

/* Create new account */
.reset-password .login a {
  text-decoration: none;
  font-size: 0.8rem;
  color: var(--third);
}
.reset-password .login {
  margin: 20px 0;
}

/* incorrect */
.reset-password .incorrect {
  background: var(--fourth);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 6px;
  border-radius: 5px;
  margin-bottom: 10px;
}
.reset-password .incorrect .message {
  color: var(--error);
  font-size: 0.8rem;
}
.reset-password .incorrect svg {
  height: 15px;
  cursor: pointer;
  color: var(--secondary);
}
